name: Continuous Deployment
on:
  workflow_dispatch:
    inputs:
      versionPrefix:
        description: 'Version prefix for the NuGet package'
        required: true
        default: '1.0.0'
permissions:
  contents: read
jobs:
  continuous-deployment-nuget:
    name: Deploy to NuGet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.x
      - name: Package NuGet tool
        working-directory: ./src/tool
        run: dotnet pack --include-source --include-symbols --configuration release --output pkg -p:PackageVersion=${{ inputs.versionPrefix }}
      - name: Push NuGet packages
        working-directory: ./src/tool/pkg
        run: dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate